<app-theme-toggle></app-theme-toggle>
<section id="login-main" class="">
  <section id="img-section" class="">
    <img src="/assets/images/vendor_loginpage_img.svg" alt="" />
  </section>
  <section id="login-section" class="">
    <div class="login-content">
      <h2>Welcome to Portal</h2>
      <small>Please enter your details</small>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="input-field">
          <label for="email">Email</label><br />
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
            [(ngModel)]="model.email"
            #email="ngModel"
            required
            email
          />
          <div *ngIf="email.touched && email.invalid" class="error-text">
            <div *ngIf="email.errors?.['required']">Email is required.</div>
            <div *ngIf="email.errors?.['email']">
              Please enter a valid email.
            </div>
          </div>
        </div>

        <!-- Password Field -->
        <div class="input-field">
          <label for="password">Password</label><br />
          <div class="input-aria">
            @if(hidepassword) {
            <i class="bi bi-eye-fill" (click)="togglePassword()"></i>
            } @else {
            <i class="bi bi-eye-slash-fill" (click)="togglePassword()"></i>
            }
            <input
              [type]="hidepassword ? 'password' : 'text'"
              name="password"
              id="password"
              placeholder="Enter your passwords"
              [(ngModel)]="model.password"
              #password="ngModel"
              required
            />
          </div>
          <div *ngIf="password.touched && password.invalid" class="error-text">
            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>
          </div>
        </div>

        <!-- Forgot password -->
        <div class="controls">
          <small>Forgot password?</small>
        </div>

        <!-- Login Button -->
        <button type="submit" id="login-btn" [disabled]="loginForm.invalid">
          Login
        </button>
      </form>
      <div class="company-details">
        <small>Simplified Retail & Distribution ERP Solution</small>
        <h4>BNG Infotech Private Limited</h4>
        <p>Hello, Rohan</p>
        <p>Change by branch</p>
        <p>Gaurav</p>
      </div>
    </div>
  </section>
</section>
