<div class="main-container">
    <div *ngIf="isLoggedIn; else loginPage" class="w-100 d-flex">
       <app-sidebar></app-sidebar>
      <div class="w-100"> 
        <app-navbar ></app-navbar>
        <router-outlet></router-outlet>
      </div>
        
       
        
    </div>

    <ng-template #loginPage>
        <router-outlet></router-outlet>
    </ng-template>
</div>





<!-- <div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="content">
    <div class="content-wrapper">
      <app-navbar></app-navbar>
      
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
