:root {
  /* text color  */
  --color-blue: #6375f0;
  --color-red: #fe7062;
  --color-green: #7fcf6b;
  --border-grey: #bfbcbc;
  --border-blue: #6375f0;
  --color-bg: #f4f4f4;
  --color-bg-secondry: #ffffff;
  --color-card: #f4f4f4;
  --primary-text: #000000;
  --secondry-text: #bfbcbc;
  --border-color: #ffffff00;

/*  background primary color */

  --primary-blue: #6375f0;
  --primary-red: #fe827a;
  --primary-green: #7fcf6b;
  --primary-bg: #ffffff;
  --secondary-bg: #f4f4f4;
  --primary-card: #f4f4f4;
}

.dark-theme {
  --color-blue: #6375f0;
  --color-red: #fe7062;
  --color-green: #7fcf6b;
  --color-grey: #bfbcbc;
  --border-grey: #bfbcbc;
  --border-blue: #6375f0;
  --color-bg: #0d121e;
  --color-bg-secondry: #0d121e;
  --color-card: #0d121e;
  --primary-text: #ffffff;
  --secondry-text: #bfbcbc;
  --border-color: #6375f0;
}

.light-theme {
  --color-blue: #6375f0;
  --color-red: #fe7062;
  --color-green: #7fcf6b;
  --color-grey: #bfbcbc;
  --border-grey: #bfbcbc;
  --border-blue: #6375f0;
  --color-bg: #f4f4f4;
  --color-bg-secondry: #ffffff;
  --color-card: #f4f4f4;
  --primary-text: #000000;
  --secondry-text: #bfbcbc;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* Global styles */
body {
    font-family: 'Inter', sans-serif;
  }
